@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap'); 

body{
    margin: auto;
    width: 1400px;
    height: 1884px;
    font-family: "Raleway";
    padding: 0 50px 0px 50px;
  }
/* ____________________________________   POLICES _______________________________ */
  h1 {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  h2 {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0;
  }
  h4 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
  }
  h5 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0px;
    margin: 5px;
  }
  h6 {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0px;
    margin: 5px;
  }
  p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
  }
  strong {
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1em;
  }
  a{
    color: black;
    text-decoration: none; 
    cursor: default;
  }
  i{
    color: #0065FC;
  }
  .small {
    font-size: 0.8em;
  }
  .big{
    font-size: 1.2em;
  }

  /* ____________________________________  HEADER   _______________________________ */
header {
display: flex;
height: 126px;
justify-content: space-between;
}

#logo {
  display: flex; 
  align-items: center;
}
#image-logo{
  height: 19px; 
  width: 61.09px;
}

nav{
display: flex;
height: 126px;
}
ul {
list-style-type: none;
/* pour retirer effet par defaut */
display: flex;
align-items: center;
padding: 0;
margin: 0;
}
li { 
  display: flex;
  height: 126px;
  width: 162px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
}
li:hover {
  border-top: 2px solid #0065fc;
}
.naviguation:hover{
  color: #0065fc; 
  /* les balises <a> etant dans les balises <li> (inverse non autorisé par W3C), création d'une class pour mettre couleur au texte */
}

/* ____________________________________   RESEARCH   _______________________________ */
#research{
    display: flex;
    flex-direction: column; 
}

#title{
  margin-bottom: 0;
}

form{
  display: flex;
  height:49px;
  width: 30%;
}

#logo-localisation{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  width: 15%;
  color: black;
}
#research-city{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  width: 50%;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.3em;
  text-indent:10px;
  /* pour que le texte du placeholder ne s'affiche pas coller à la bordure */
}

#research-city::placeholder{
  color: black;
  /* :pour corriger la police par defaut du placeholder */
}
#research-city:focus::placeholder {
  color: transparent;
  /* une fois cliqué, le texte disparait  */
}
#research-city:focus {
  outline: 1px solid #D9D9D9;
  /* pour qu'une fois cliquer, la bordure ait une couleur différente */
}

#button-search{
  width: 35%;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.3em;
}
#button-search-mobile{
  display: none;
  /* pour que l'icon de loupe n'apparaisse pas en desktop et tablette */
}

/* ____________________________________   FILTERS _______________________________ */
#filters{
    display: flex;
    width: 70%;
    margin-top: 31px;
}
.filter{
  /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px 0 20px;
}
.filter:hover{
  background-color: #DEEBFF;
  transition: 0.7s;
  /* ajout d'une transition sur le changement de couleur pour un changement plus esthétique */
}
#filter-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#eco {
width: 135px ;
}
#family{
width: 96px;
}
#romance{
width: 132px ;
}
#animal{
width: 186px;  
}

/* #filter-links a h4 {
  padding-left: 15px;
} */

/* ____________________________________   INFOBAR   _______________________________ */
#infobar{
display: flex; 
align-items: center;
justify-content: space-between;
width: 33%;
}
#logo-infobar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 200px;
  /* pour former un rond */
  width: 24px;
  height: 24px;
}

/* ____________________________________   OFFERS   _______________________________ */
#offers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

/* -------------------------- OFFERS MAIN -------------------- */
#offers-main{
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
 width: 60%;
 height: 546px;
 background: #F2F2F2;
 border-radius: 20px;
 padding: 40px; 
}

#cards-marseille{
  display: flex;
  flex-wrap: wrap;
  /* pour retour à la ligne quand plus de place */
  justify-content: space-between;
  height: 85%;
}

.card-marseille{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  width: 30%;
  height: 199px;
  box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
  padding: 5px;
}
.card-marseille:hover{
  cursor : pointer;
  /* pour montrer que c'est cliquable */
}

.image-main{
  border-radius: 20px 20px 00;
  height: 114px;
  object-fit: cover;
      /* Pour afficher correctement les images dans l'encadré */
}

.text-card-marseille{
  margin: 5px;
}

.stars {
  margin: 5px;
}
.grey-star {
  color: #F2F2F2;
}

/* -------------------------- OFFERS SPONSORED -------------------- */
#offers-sponsored{
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 35px; 
  justify-content: space-between;
}
 
 #top{
  display: flex;
  justify-content: space-between;
 }

 #cards-popular{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 90%;
  
 }
 .card-popular{
   width: 90%;
   display: flex;
   background: #FFFFFF;
   border-radius: 20px;
   box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
   padding: 5px;
 }
 .card-popular:hover{
  cursor : pointer;
}

.image-sponsored{
    border-radius: 20px 0 0 20px;
    height: 134px;
    width: 35%;
    object-fit: cover;
}
.description-card-popular{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}
.text-card-popular{
  display: flex;
  flex-direction: column;
}

 /* ____________________________________   ACTIVITIES  _______________________________ */
#activities{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 493px;
  margin: 60px 0 60px 0;
}

#cards-activities{
  display: flex;
  justify-content: space-between;
  height: 445px;
}

.card-activities{
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
}
.card-activities:hover{
  cursor : pointer;
}
.image-activities {
border-radius: 20px 20px 0 0;
object-fit: cover;
height: 389px;
width: 302px;
}

.text-activities{
  height: 10%;
}

/* ____________________________________   FOOTER   _______________________________ */
footer{
  display: flex;
  background: #F2F2F2;
  padding: 45px;
}

.links{
  width: 30%;
  padding-left: 20px;
}

.title-links {
padding-bottom: 10px;
}

.link:hover{
text-decoration: underline;
/* ajout d'une ligne quand hover pour montrer que c'est cliquable */
}

/* ----------------------------------  TABLETTE  ------------------------------------------- */

@media screen and (max-width : 992px) {

body{
    max-width: 992px;
}
/* ____________________________________   FORM  _______________________________ */
form{
  width: 50%;
}
#logo-localisation{
  width: 12%;
}
#research-city{
  width: 54%;
}
#button-search{
  width: 35%;
}
/* ____________________________________   FILTERS  _______________________________ */
#filters{
  width: auto;
}
#filter-links{
width: 90%;
}

/* ____________________________________   INFOBAR  _______________________________ */
#infobar{
  width: 45%;
}

/* ____________________________________   OFFERS  _______________________________ */
#offers{
flex-wrap: wrap;
/* pour que offer-main et offer-sponsored soit l'un par dessus l'autre */
}

#offers-main{
  width: auto; 
  margin-bottom: 30px;
}

#offers-sponsored{
  width:auto;
  height: 208px;
  justify-content:space-between ;
  margin-bottom: 20px;
}
#cards-popular{
  height: 144px;
  justify-content: space-between;
}
.card-popular{
  width: 30%;
}

/* ____________________________________   ACTIVITIES  _______________________________ */
#activities{
  height: 320px;
}
#cards-activities{
  height: 267px;
}
.card-activities{
  width: 22%;
  height: 267px;
}
.image-activities{
  height: 211px;
  width: 100%;
}
.text-activities{
  padding-left: 10px;
  align-items: center;
  display: flex;
  height: 15%;
}

/* ____________________________________   FOOTER  _______________________________ */
footer{
  width: 90%;
}

}


/* ----------------------------------  MOBILE  ------------------------------------------- */

@media screen and (max-width : 768px) {

/* ____________________________________   POLICE  _______________________________ */
/* changement des polices pour qu'elles prenne tplus de place à l'écran */
h1{
  font-size: 2.6em;
  line-height : 1em;
  padding-top: 60px;
  margin-right: 100px;
} 
h2 {
  font-size: 2.6em;
  line-height: 1em;
}
h3 {
  font-size: 2em;
  line-height: 1em;
}
h4 {
  font-size: 1.4em;
  line-height: 1em;
  padding-left: 20px;
}
h5 {
  font-size: 2em;
  line-height: 1.2em;
}
h6 {
  font-size: 1.6em;
  line-height: 1em;
}
p {
  font-size: 1.9em;
  line-height: 1em;
  margin: 20px 0 20px 0;
}
strong {
  font-size: 1em;
  line-height: 1em;
}
.small {
  font-size: 1.2em;
}
.big{
  font-size: 2em;
}
.fa-info{
  font-size: 1.6em;
  font-weight: bold;
}

body{
max-width: 768px;
padding:0;
overflow-x : hidden ;
/* pour cacher les éléments qui pourraient dépaser sur l'axe horizontal et enpecher le scroll horizontal */
}

/* ____________________________________   HEADER  _______________________________ */
header{
  flex-direction: column;
}
#logo{
  padding: 21px;
  justify-content: center;
}
#image-logo{
  height:38px ;
  width:122.18px; 
}
nav{
  justify-content: space-evenly;
  height: auto;
  padding-top: 50px;
}
ul{
  justify-content: center;
  width: 100%;
}
li{
  width: 100%;
  height: 70px;
  justify-content: center;
  font-size: 2em;
  border-bottom: 2px solid rgba(242, 242, 242, 1)
}
li:hover {
  border-top: none;
  border-bottom: 2px solid #0065fc;;
  /* pour que le hover active un boder bottom et cache celui qui était top */
}
.naviguation{
  width: 50%;
  color: #0065fc;  
}

/* ____________________________________   MAIN  _______________________________ */
#research, #filters, #infobar {
  margin: 40px;
}

/* ____________________________________   FORM  _______________________________ */
form{
  width: 100%;
  height:90px;
  padding-top: 40px;
}
#logo-localisation{
  width: 13%;
  border-radius: 34px 0px 0px 34px;
  /* augmentation du radius puisque la taille des encadrés à augmenté */
}
#research-city{
  width: 74%;
  font-size: 1.9em;
  text-indent:20px;
}
#button-search-mobile{
  display: block;
  padding: 15px 16px;
  width: 13%;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 34px 34px 0px;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.3em;
}
#logo-search{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#button-search{
  display: none;
}

/* ____________________________________   FILTERS  _______________________________ */
#filters{
  width: auto;
  flex-wrap: wrap;
}
#filter-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 200px ;
}
#filter-tittle{
  font-weight: 700;
  font-size: 2.1em;
  line-height: 2.5em;
  padding: 20px 0 20px 0;
  margin: 0;
}
.filter{
  justify-content: flex-start;
}
#eco, #family, #romance, #animal {
  width: 40%;
  height: 40%;
  border-radius: 40px;
}

/* ____________________________________   INFOBAR  _______________________________ */
#infobar{
  width: 90%;
}
#infobar-mobile{
  height: 70px;
}
#logo-infobar {
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

/* ____________________________________   OFFERS  _______________________________ */
#offers{
  flex-direction: column-reverse;
  height: 90%;
  /* grâce au colum reverse, on peut faire passer l'encadré offers-sponsored avant celui offers-main */
}

#offers-sponsored{
  border-radius: 0;
  width: 92%;
  height: 1100px;
}
#top{
  padding-top: 25px;
}
#cards-popular{
  height: 82%;
  padding-bottom: 10%;
}
.card-popular{
  height: 29%;
  width: 95%;
  border-radius: 40px; 
  padding: 10px;
}
.image-sponsored{
  height: 100%;
  width: 40%;
  border-radius: 40px 0 0 40px;
}
.description-card-popular{
  padding: 35px;
}

#offers-main{
  padding: 60px 35px 35px 35px;
  background:#FFFFFF; 
  width: 90%;
  height: 2850px;
  justify-content: flex-start;
}
#cards-marseille{
  flex-wrap: wrap;
  height: 93%;
  padding-top: 50px;
}
 .card-marseille{
  height: 15%;
  width: 100%;
  border-radius: 40px;
}
 .image-main{
  height: 60%;
  border-radius: 40px 40px 0 0;
}
.text-card-marseille {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 35%;
  justify-content: space-between;
  padding-left: 15px;
}
#text-main{
  display: none;
  /* n'apparait pas dans la version mobile */
}

/* ____________________________________   ACTIVITIES  _______________________________ */
#activities{
  width: 90%;
  height: 1820px;
  margin: 0;
  padding: 0 40px 100px 40px ;
}
#cards-activities{
  flex-wrap: wrap;
  height: 95%;
}
#title-activities{
width: 40%;
}
.card-activities{
  height: 22%;
  width: 100%;
  border-radius: 40px; 
  justify-content: space-evenly;
}
.image-activities{
  height: 75%;
  width: 100%;
  object-position: top;
  /* pour que l'on puisse davantage voir le haut de l'image */
  border-radius: 40px 40px 0 0; 
}
#img-pomegues{
  object-position: 50% 40%;
  /* même avec object-position : top, l'image ne s'affichait pas comme dans la maquette donc ajout pourcentage directement */
}
.text-activities{
  padding: 20px 10px 20px 10px;
}

/* ____________________________________   FOOTER  _______________________________ */
footer{
  flex-wrap: wrap;
  width: 89%;
  height: 800px;
}
.links{
  width: 100%;
}


}


 