@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap'); 

body{
    margin: auto;
    width: 1400px;
    height: 1884px;
    box-sizing: border-box;
    font-family: "Raleway";
    padding: 0 50px 0px 50px;
    justify-content: space-evenly;
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
  }
  h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    padding: 0;
    margin: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    margin: 0;
  }
  h4 {
    font-weight: 700;
    font-size: 17px;
    line-height: 19.96px;
  }
  h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    padding: 0px;
    margin: 5px;
  }
  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    padding: 0px;
    margin: 5px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
  }
  strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.44px;
  }
  a{
    color: black;
    text-decoration: none; 
    cursor: default;
  }
  i{
    color: #0065FC;
  }
  .small {
    font-size: 0.8em;
  }
  .big{
    font-size: 1.2em;
  }

header {
display: flex;
height: 126px;
padding: 0;
margin: 0;
justify-content: space-between;
}

#logo {
  display: flex; 
  justify-content: center;
  align-items: center;
}

nav{
display: flex;
height: 126px;
}

ul {
list-style-type: none;
display: flex;
align-items: center;
padding: 0;
margin: 0;
}

li { 
  display: flex;
  height: 126px;
  width: 162px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
}

li:hover {
    border-top: 2px solid #0065fc;;
    color: #0065fc;
    
}


#research{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}

#title{
  margin-bottom: 0;
}

form{
  display: flex;
  justify-content: space-between;
  height:49px;
  width: 30%;
}

#logo-localisation{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  width: 15%;
  color: black;
}
#research-city{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding: 0;
  margin:0;
  text-indent:10px;
}

#research-city::placeholder{
  color: black;
}
#research-city:focus {
  outline: 1px solid #D9D9D9;
}
#research-city:focus::placeholder {
  color: transparent;
}

#button-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 16px;
  gap: 10px;
  width: 35%;
  background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
#logo-search{
  display: none;
}


#filters{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 31px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 0;  
    padding: 0 20px 0 20px;
}
.filter:hover{
  background-color: #DEEBFF;
  transition: 0.7s;
}
.filter-links{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#eco {
width: 135px ;
}
#family{
width: 96px;
}
#romance{
width: 132px ;
}
#animal{
width: 186px;  
}


#infobar{
display: flex; 
align-items: center;
justify-content: space-between;
width: 447px;
}
#logo-infobar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 200px 200px 200px 200px;;
  width: 24px;
  height: 24px;
}


#offers {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#offers-main{
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
 width: 60%;
 height: 546px;
 background: #F2F2F2;
 border-radius: 20px;
 padding: 40px; 
}

#cards-marseille{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 80%;
  padding: 0;
  margin: 0;
}

.card-marseille{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  width: 30%;
  height: 199px;
  box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
  padding: 5px;
}
.card-marseille:hover{
  cursor : pointer;
}

.image-main{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 114px;
  object-fit: cover;
  padding-bottom: 5px;
}

.text-card-marseille{
  margin: 5px;
}

.stars {
  margin: 5px;
}
.grey-star {
  color: #F2F2F2;
}


#offers-sponsored{
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 35px; 
  justify-content: space-between;
}
 
 #top{
  display: flex;
  justify-content: space-between;
 }

 #cards-popular{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 90%;
  
 }
 .card-popular{
   display: flex;
   align-items: stretch;
   background: #FFFFFF;
   border-radius: 20px;
   box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
   padding: 5px;
 }
 .card-popular:hover{
  cursor : pointer;
}

.image-sponsored{
    border-radius: 20px 0 0 20px;
    height: 134px;
    width: 40%;
    object-fit: cover;
}
.description-card-popular{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.text-card-popular{
  display: flex;
  flex-direction: column;
}


#activities{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 493px;
  margin: 60px 0 60px 0;
}

#cards-activities{
  display: flex;
  justify-content: space-between;
  height: 445px;
}

.card-activities{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(133, 52, 52, 0.1);
  justify-content: space-between;
}
.card-activities:hover{
  cursor : pointer;
}

.image-activities {
border-radius: 20px 20px 0 0;
object-fit: cover;
height: 389px;
}

.text-activities{
  padding: 10px;
}


footer{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background: #F2F2F2;
  padding: 45px;
}

.links{
  width: 30%;
  padding-left: 20px;
}

.title-links {
padding-bottom: 10px;
}

.link:hover{
text-decoration: underline;
}

/* ----------------------------------------------------------------------------------- */

@media screen and (min-width : 768px) and (max-width : 992px) {

body{
    max-width: 892px;
}

form{
  width: 50%;
}
#logo-localisation{
  width: 12%;
}
#research-city{
  width: 54%;
}
#button-search{
  width: 35%;
}

#filters{
  width: auto;
}

#offers{
flex-direction: column;
height: 957px;
justify-content: space-between;
}

#offers-main{
  width: 90%; 
}

#offers-sponsored{
  width:90%;
  height: 208px;
  justify-content:space-between ;
}
#cards-popular{
  flex-direction: row;
  height: 144px;
}
.card-popular{
  width: 30%;
}

#activities{
  height: 320px;
}
#cards-activities{
  height: 267px;
}
.card-activities{
  width: 22%;
  height: 267px;
}
.image-activities{
  height: 211px;
  width: 100%;
}

footer{
  width: 90%;
}

}


@media screen and (min-width : 0px) and (max-width : 768px) {
h1{
  font-size: 42px;
  line-height : 50px;
  padding-top: 60px;
  margin-right: 100px;
} 
h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin: 0;
}
h4 {
  font-weight: 700;
  font-size: 23px;
  line-height: 40px;
  padding-left: 20px;
}
h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  padding: 0px;
  margin: 5px;
}
h6 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  padding: 0px;
  margin: 5px;
}
p {
  font-weight: 400;
  font-size: 31px;
  line-height: 36px;
  margin: 20px 0 20px 0;
}
strong {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.small {
  font-size: 1.2em;
}
.big{
  font-size: 2em;
}

body{
max-width: 768px;
padding:0;
margin: 0;
overflow-x: hidden;
}

header{
  flex-direction: column;
}
#logo{
  padding: 21px;
}
#image-logo{
  height:38px ;
  width:122.18px; 
}
nav{
  justify-content: space-evenly;
  height: auto;
  padding-top: 50px;
}
ul{
  justify-content: center;
  width: 100%;
}
li{
  width: 100%;
  height: 70px;
  justify-content: center;
  font-size: 32px;
  border-bottom: 2px solid rgba(242, 242, 242, 1)
}
li:hover {
  border-top: none;
  border-bottom: 2px solid #0065fc;;
  color: #0065fc;  
}
.naviguation{
  width: 50%;
}


#research, #filters, #infobar {
  margin: 40px;
}

form{
  width: 100%;
  height:90px;
  padding-top: 40px;
}
#logo-localisation{
  width: 13%;
  border-radius: 34px 0px 0px 34px;
}
#research-city{
  width: 74%;
  font-size: 30px;
  text-indent:20px;
}
#button-search{
  width: 13%;
  border-radius: 0px 34px 34px 0px;
}
#logo-search{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#text-search{
  display: none;
}
  
#filters{
  width: auto;
  flex-wrap: wrap;
}
.filter-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 200px ;

}
#filter-tittle{
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  padding: 20px 0 20px 0;
  margin: 0;
}
.filter{
  justify-content: flex-start;
}
#eco, #family, #romance, #animal {
  width: 40%;
  height: 40%;
  border-radius: 40px;
}

#infobar{
  width: 90%;
}
#infobar-tablet{
  justify-content: flex-start;
  display: flex;
  height: 70px;
}
#logo-infobar {
  display: flex;
  border: 1px solid #D9D9D9;
  border-radius: 200px 200px 200px 200px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#offers{
  flex-direction: column-reverse;
  height: 90%;
}

#offers-sponsored{
  border-radius: 0;
  width: 90%;
  height: 1100px;
}
#top{
  padding-top: 25px;
}
#cards-popular{
  flex-wrap: wrap;
  height: 80%;
  padding-bottom: 10%;
}
.card-popular{
  height: 30%;
  border-radius: 40px; 
}
.image-sponsored{
  height: 100%;
  width: 40%;
  border-radius: 40px 0 0 40px;
}
.description-card-popular{
  padding: 35px;
}

#offers-main{
  padding: 60px 35px 35px 35px;
  background:#FFFFFF; 
  width: 90%;
  height: 2850px;
  justify-content: flex-start;
}
#cards-marseille{
  flex-wrap: wrap;
  height: 93%;
  padding-top: 50px;
}
 .card-marseille{
  height: 15%;
  width: 100%;
  border-radius: 40px;
}
 .image-main{
  height: 60%;
  border-radius: 40px 40px 0 0;
}
.text-card-marseille {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 35%;
  justify-content: space-between;
  padding-left: 15px;
}
#text-main{
  display: none;
}



#activities{
  width: 90%;
  height: 1820px;
  margin: 0;
  padding: 0 40px 100px 40px ;
}
#cards-activities{
  flex-wrap: wrap;
  height: 95%;
}
#title-activities{
width: 40%;
}
.card-activities{
  height: 22%;
  width: 100%;
  border-radius: 40px; 
}
.image-activities{
  height: 75%;
  width: 100%;
  object-position: top;
  border-radius: 40px 40px 0 0; 
}
#img-portrait{
  object-position: 50% 40%;
}
.text-activities{
  padding: 20px 10px 20px 10px;
}


footer{
  flex-wrap: wrap;
  width: 90%;
  height: 800px;
}
.links{
  width: 95%;
}


}


